<html>
    <head>
        <meta charset="UTF-8">
        <title>TwitterClone</title>
    </head>

    <body>
        <div class= container >
            <div class=header-container>
                <header class = header>
                    <ul>
                        <h4>APPLICATION INDEX PAGE- ETUDIANT MAMADOU ALASSANE  </h4>
                    </ul>
                </header>
            </div>

        <p><%= notice %></p>
            
                
            <%=link_to ' Ouvrir une session ', new_session_path %></td>
              
                 
            
            <div class=header-container>
                <footer class= footer>
                    <p>DIVE INTO CODE -- Ruby on Rails </p>
                    <p>© 2015  -  <%= Date.today.year %> DIVE INTO CODE Corp.</p>
                </footer>
            </div>
        </div>
    </body>
</html>
